<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Student</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <div>
        <h1 class="text-center my-3 text-primary ">Filter Student</h1>
        <hr>
    </div>
    <div class='text-center my-3'>
    <form action="stu_filter"  method = 'Post'>
        {% csrf_token %}
        <label for="fName" >First Name</label><br>
        <input type="text" id="fname" name="fname"><br><br>

        
        <button type="submit" class="btn btn-success">Submit</button>
    
    </form>
    </div>
</body>
</html>